<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая Книга</title>
</head>
<body>

<h2>Добавление новой книги</h2>

<form th:method="POST" th:action="@{/books}" th:object="${book}">

    <label for="title">Название Книги</label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
    <br/>

    <label for="author">Автор</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>

    <label for="year">Год</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
    <br/>

    <input type="submit" value="Добавить!"/>
    <br/>

</form>

</body>
</html>